*{
    margin:0;
    padding:0;
}

@import '_color-variables';
@import '_color-classes';
@import '_variables';
@import '_grid';

@import url('https://fonts.googleapis.com/css?family=Cabin|Raleway:300i');

*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}

$c1: rgb(247, 249, 254);
$c2: rgb(236, 241, 242);
$c3: rgb(220, 232, 235);
$c4: rgba(203, 219, 224, 0.295);
$c5: rgb(190, 210, 217);
$c6: rgb(55, 86, 97);

body{
    background-color: $c1;
    display:flex;
    flex-direction: column;
    align-items: stretch;
    color: $c6;
}

// HEADER PART
.fixe{
    width:100%;
    height: 100px;
    background-color:$c6;
    display:flex;
    justify-content: center;
    border-bottom: 1px solid $c5;
}
.burger{
    display:none;
    width: 40px;
    height: 40px;
    margin-left: 10px;
}
#burgerIcon{
    width:40px;
    height:40px;
    color:$c1;
}
.horiz{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.horiz li{
    width : 200px;
    height : 60px;
    padding : 20px;
    margin: 0 20px;
    background: $c1;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    border: 1px solid $c5;
    border-radius: 10px;
}
.horiz li:hover , .horiz li:focus {
    -webkit-box-shadow: inset 0px 0px 10px 13px $c4;
    -moz-box-shadow: inset 0px 0px 10px 13px $c4;
    box-shadow: inset 0px 0px 10px 13px $c4;
    cursor: pointer;
}

#responsive{
    width:100%;
    display:none; 
}
.vert{
    display:flex;
    flex-direction : column;
    align-items: center;
}
.vert li{
    list-style: none;
    font-size: 1.5rem;
    width:100%;
    height:auto;
    margin:0.5em;
    margin-bottom:0;
    vertical-align: middle;
    padding-bottom: 0.5em;
    padding-left : 5%;
    border-bottom:1px solid $c5;
}
.dropdown-content{
    display : none;
    position: relative;
    top:19px;
    left:-10px;
    background-color : $c3;
    width: 180px;
    box-shadow: 0 8px 16px 0 $c4;
    z-index: 1;
}
.dropdown-content a{
    background:$c1;
    padding : 20px;
    text-decoration: none;
    color: $c6;
    display: block;
    border: 1px solid $c5;
}

.dropdown-content a:hover {
    -webkit-box-shadow: inset 0px 0px 10px 13px $c4;
    -moz-box-shadow: inset 0px 0px 10px 13px $c4;
    box-shadow: inset 0px 0px 10px 13px $c4;
}
.show{
    display:block;
}
#main{
    height: 80vh;
}
@media only screen and (min-width:671px) AND (max-width:920px){
    .horiz li{
        height:60px;
        width : 150px;
        margin : 0 10px;
    }
    .horiz li:hover , .horiz li:focus {
        -webkit-box-shadow: inset 0px 0px 10px 13px $c4;
        -moz-box-shadow: inset 0px 0px 10px 13px $c4;
        box-shadow: inset 0px 0px 10px 13px $c4;
    }
@media only screen and (max-width:670px){
    body{
        overflow-y:scroll;
    }
    .fixe{
        justify-content: flex-start;
        height:80px;
    }
    .burger{
        display: inline-block;
        align-self: center;
    }
    .horiz , .horiz li{
        display: none;
        width: 50%;
    }
    #responsive{
        display : none;
    }
    .dropdown-content{
        position: inherit;
        background-color : $c1;
        width: 100%;
        z-index: 1;
        box-shadow: none;

    }
    .dropdown-content a{
        background:$c1;
        text-decoration: none;
        color: $c6;
        display: block;
        width:95%;
        position:static;
        right:0;
        margin-top:0.5em;
        padding:0.2em;
        border:none;
        padding-top: 0.3em;
        padding-left: 0.5em;
        border:1px solid $c5;
    }
    .dropdown{
        display:flex;
        flex-direction: column;
        border:none;
    }
    .myDropdown-exos-mobile, .myDropdown-contact-mobile{
        list-style: none;
        font-size: 1.5rem;
        height:auto;
        margin:0.5em;
        margin-bottom:0;
        vertical-align: middle;
        padding-bottom: 0.5em;
        padding-left : 0.5em;
        -webkit-box-shadow: inset 0px 0px 10px 13px $c4;
        -moz-box-shadow: inset 0px 0px 10px 13px $c4;
        box-shadow: inset 0px 0px 10px 13px $c4;
        
    }
}
}