body{
    background:-moz-linear-gradient(120deg,#B2905A,#FFE2B4,#FFD79B,#618EB2,#A2D5FF);
    background:-webkit-linear-gradient(120deg,#B2905A,#FFE2B4,#FFD79B,#618EB2,#A2D5FF);
    background:-o-linear-gradient(120deg,#B2905A,#FFE2B4,#FFD79B,#618EB2,#A2D5FF);
    background:-ms linear-gradient(120deg,#B2905A,#FFE2B4,#FFD79B,#618EB2,#A2D5FF);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
}
aside{
    float:left;
    background:white;
    border: 2px solid black;
    height:382px;
    width:250px;
    margin:20px;
    padding:0px;
}
#basicinfo{
    height:300px;
    width:230px;
    padding:10px;
    border-bottom:2px solid black;
}
#pic{
    position:relative;
    height:200px;
    width:230px;
    margin:none;
    margin-bottom:20px;
    padding:none;
}
#pic img{
    border: 2px solid black;
    border-radius:50%;
    margin-left:15px;
    margin-right:15px;
}
#name_prof{
    height: 80px;
    text-align:center;
}
#name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight:bold;
}
#prof{
    font-family: Arial, Helvetica, sans-serif;
    font-size:18px;
}
.socmedia{
    height: 42px;
    padding:10px;
}
.socmedia a img{
    height:42px;
    width:42px;
}
main{

}
.simplecolumn{

}
#description{

}
.doublecolumn{

}
.title{

}
.columnleft{

}
.info_type{

}
.info_answer{

}

.columnright{

}
.lang{

}
.langname{

}
.prog{

}
